.wrapper
  = render 'shared/side_bar'
  .chat-main
    .chat-main__main-header
      .chat-main__main-header__left-box
        %h2.chat-main__main-header__left-box--current-group{"data-group_id" => ""}
          テスト
        %ul.chat-main__main-header__left-box--member-list
          Member：
          %li.chat-main__main-header__left-box__member-list--member test-user2
      = link_to "", class: "btn" do
        .chat-main__main-header__edit-btn Edit
    .chat-main__messages
      = render @messages
    .chat-main__form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'chat-main__form__new_messages__input-box__text', placeholder: 'type a message'
        .chat-main__form__new_messages__input-box
          = f.label :image, class: 'chat-main__form__new_messages__input-box__image' do
            = fa_icon 'picture-o', class: 'fa-image'
            = f.file_field :image, class: 'chat-main__form__new_messages__input-box__image--file'
        = f.submit 'Send', class: 'chat-main__form__new_messages--submit-btn'